.element__like_active {
    border: none;
    background: url(../../../../images/icon-like-active.svg) center no-repeat;
    background-color: #FFFFFF;
    background-size: 100%;
    width: 21px;
    height: 19px;
    outline: none;
    cursor: pointer;
}