.header__link {
    color: white;
    text-decoration: none;
}

.header__link:visited {
    color: #fff;
}

.header__link:hover {
    opacity: .6;
}

.header__link:visited {
    text-decoration: none;
}