.profile {
    color: #FFFFFF;
    width: calc(100% - 200px * 2);
    margin: 40px auto 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
}

@media screen and (max-width: 767px) {
    .profile {
        width: calc(100% - 19px * 2);
        margin: 42px auto 0;
        flex-direction: column;
    }
}