.element__delete {
    position: absolute;
    width: 18px;
    height: 19px;
    top: 26px;
    left: 249px;
    border: none;
    background: url(../../../images/icon-trash.svg) center no-repeat;
    background-color: none;
    background-size: 100%;
    outline: none;
    cursor: pointer;
}

.element__delete:hover {
    opacity: .6;
}