.popup__button-close {
    width: 40px;
    height: 40px;
    background: transparent url("../../../images/icon-close.svg") center;
    border: none;
    position: absolute;
    top: -36px;
    right: -36px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.popup__button-close:hover {
    opacity: 0.6;
    transform: rotate(45deg);
}

@media screen and (max-width: 767px) {
    .popup__button-close {
        width: 26px;
        height: 26px;
        top: -50px;
        right: 0;
    }
}